.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #F3F5F7;
}
.content {
  flex: 1;
  display: flex;
}
.side-bar {
  width: 300px;
}
.canvas {
  flex: 1;
  border: 1px solid #E5E7E8;
}